<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    {% for image in images %}
    <img src="{{ image }}"/>
    {% endfor %}
  </body>
</html>
